

.wrapper {
	border: 1px dashed darkgrey;

	margin: 10px 0 0;

	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.expanded {
	flex-direction: column;
}

.details {
	padding-left: 20px;
}
